.contact-items-warp {
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
}

.light-button button.bt,
.light-button-email button.bt-email {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}

.light-button button.bt .button-holder,
.light-button-email button.bt-email .button-holder-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  background-color: #0a0a0a;
  border-radius: 5px;
  color: #0f0f0f;
  font-weight: 700;
  transition: 300ms;
  outline: #0f0f0f 2px solid;
  outline-offset: 20px;
}

.light-button button.bt .button-holder svg,
.light-button-email button.bt-email .button-holder-email svg {
  height: 50px;
  fill: #4d4d4d;
  transition: 300ms;
}

.light-button button.bt .light-holder,
.light-button-email button.bt-email .light-holder-email {
  position: absolute;
  height: 200px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.light-button button.bt .light-holder .dot,
.light-button-email button.bt-email .light-holder-email .dot-email {
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  background-color: #0a0a0a;
  border-radius: 10px;
  z-index: 2;
}

.light-button button.bt .light-holder .light,
.light-button-email button.bt-email .light-holder-email .light-email {
  position: absolute;
  top: 0;
  width: 200px;
  height: 200px;
  clip-path: polygon(50% 0%, 25% 100%, 75% 100%);
  background: transparent;
}

.light-button button.bt:hover .button-holder svg,
.light-button-email button.bt-email:hover .button-holder-email svg {
  fill: rgba(88, 101, 242, 1);
}

.light-button-github button.bt-github:hover .button-holder-github svg {
  fill: rgb(255, 255, 255);
}


.light-button button.bt:hover .button-holder,
.light-button-email button.bt-email:hover .button-holder-email {
  color: rgba(88, 101, 242, 1);
  outline: rgba(88, 101, 242, 1) 2px solid;
  outline-offset: 2px;
}

.light-button-github button.bt-github:hover .button-holder-github {
  color: rgb(255, 255, 255);
  outline: rgb(255, 255, 255) 2px solid;
  outline-offset: 2px;
}


.light-button button.bt:hover .light-holder .light,
.light-button-email button.bt-email:hover .light-holder-email .light-email {
  background: linear-gradient(
      180deg,
      rgba(88, 101, 242, 1) 0%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
  );
}

.light-button-github button.bt-github:hover .light-holder-github .light-github {
  background: linear-gradient(
      180deg,
      rgb(255, 255, 255) 0%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
  );
}


.light-button-email button.bt-email:hover .button-holder-email svg {
  fill: rgb(240, 63, 63);
}

.light-button-email button.bt-email:hover .button-holder-email {
  color: rgb(238, 68, 68);
  outline: rgb(241, 72, 72) 2px solid;
  outline-offset: 2px;
}

.light-button-email button.bt-email:hover .light-holder-email .light-email {
  background: linear-gradient(
      180deg,
      rgb(236, 74, 74) 0%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
  );
}

/* Media query for small screens */
@media (max-width: 768px) {
  .light-button button.bt .button-holder,
  .light-button button.bt .button-holder svg,
  .light-button button.bt .light-holder .light,
  .light-button-email button.bt-email .button-holder-email,
  .light-button-email button.bt-email .button-holder-email svg,
  .light-button-email button.bt-email .light-holder-email .light-email {
      color: rgba(88, 101, 242, 1);

      fill: rgba(88, 101, 242, 1);
      background: linear-gradient(
          180deg,
          rgba(88, 101, 242, 1) 0%,
          rgba(255, 255, 255, 0) 75%,
          rgba(255, 255, 255, 0) 100%
      );
  }

  .light-button-email button.bt-email .button-holder-email,
  .light-button-email button.bt-email .button-holder-email svg,
  .light-button-email button.bt-email .light-holder-email .light-email {
      color: rgb(238, 68, 68);
      fill: rgb(240, 63, 63);
      background: linear-gradient(
          180deg,
          rgb(236, 74, 74) 0%,
          rgba(255, 255, 255, 0) 75%,
          rgba(255, 255, 255, 0) 100%
      );
  }
  .light-button-github button.bt-github .button-holder-github,
  .light-button-github button.bt-github .button-holder-github svg,
  .light-button-github button.bt-github .light-holder-github .light-github {
      color: rgb(255, 255, 255);
      fill: rgb(255, 255, 255);
      background: linear-gradient(
          180deg,
          rgb(255, 255, 255) 0%,
          rgba(255, 255, 255, 0) 75%,
          rgba(255, 255, 255, 0) 100%
      );
  }
}



