.contact {
  padding-top: 70px;
  padding: 50px;
  border-radius: 8px;
  text-align: left;
}

.contact h2 {
  color: #8c6aff;
  font-size: 32px;
  margin-bottom: 20px;
}

.contact p {
  color: #cccccc;
  font-size: 16px;
  margin-bottom: 10px;
}

.say-hello {
  background-color: #8c6aff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.say-hello:hover {
  background-color: #6a4acc;
}
