
.donate-button-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
  }
  .donate-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #8C6AFF;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 15px;
    text-decoration: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .donate-button:hover {
    background-color: #ffc400;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  .donate-button i {
    margin: 0;
  }
  