.projects {
  padding: 50px;
  padding-top: 70px;
  border-radius: 8px;
  text-align: left;
}

.projects h2 {
  color: #8c6aff;
  font-size: 32px;
  margin-bottom: 20px;
}

.projects p {
  color: #cccccc;
  font-size: 16px;
  margin-bottom: 40px;
}

.project-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.project-item {
  background-color: #2e2e2e;
  padding: 30px;
  border-radius: 8px;
  width: 300px;
  text-align: left;
  transition: transform 0.3s ease;
  background: rgb(40,40,55);
  background: linear-gradient(344deg, rgba(40,40,55,1) 0%, rgba(16,16,18,1) 50%);
  box-shadow: 4px 6px 14px #00000036;
  border-radius: 3px;
  padding: 16px;
  transition: all .3s;
}

.project-item:hover {
  background-color: #3a3a3a;
  transform: scale(1.05);

}

.project-item h3 {
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 10px;
}

.project-item p {
  color: #cccccc;
  font-size: 16px;
}

.tech-list {
  list-style-type: disc;
  padding-left: 20px;
  color: #cccccc;
}

.soon-available {
  color: #ff4d4d;
  font-size: 14px;
  margin-bottom: 20px;
  text-align: center;
}

button {
  height: 50px;
  margin: 5px;
  width: 120px;
  background: #333;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Consolas, Courier New, monospace;
  border: solid #404c5d 1px;
  font-size: 16px;
  color: rgb(161, 161, 161);
  -webkit-transition: 500ms;
  transition: 500ms;
  border-radius: 5px;

}

button:hover {
  -webkit-transition: 500ms;
  transition: 500ms;
}

button:active {
  -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
  box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
  color: #d6d6d6;
  -webkit-transition: 100ms;
  transition: 100ms;
}


.dashboard-link {
  text-decoration: none; /* Removes underline */
  color: inherit; /* Optional: Inherits the text color from parent elements */
}

